h1 {
  display: block;
  font-size: 4.5em;
  font-weight: 500;
  margin-block-start: 0.67em;
  margin-block-end: 0, 67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.4;
  max-width: 28em;
}

user agent stylesheet p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
